[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dpath = "*"
requests = "*"
flask = "*"
python-dotenv = "*"
pillow = "*"

[dev-packages]
ipykernel = "*"
jupyter = "*"

[requires]
python_version = "3.9"
